<!DOCTYPE html>
<html>
  <head>
    <%= auto_display_meta_tags %>
    <%= auto_display_favicon_tags if build? %>
    <%= stylesheet_link_tag "all" %>
  </head>

  <body>
    <%= partial "layouts/navbar" %>

    <div class="container-fluid">
      <div class="row">
        <div class="d-none d-lg-block col-lg-3 px-0">
          <%= partial "layouts/sidebar" %>
        </div>
        <div class="col-12 col-lg-9">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag 'docs.bundle' %>
  </body>
</html>
