<!DOCTYPE html>
<html>
  <head>
    <%= auto_display_meta_tags %>
    <%= auto_display_favicon_tags %>
    <%= stylesheet_link_tag "all" %>
  </head>

  <body>
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>

    <%= javascript_include_tag 'main-bundle' %>
  </body>
</html>
