---
title: About
layout: docs
---

<main class="about">
  <div class="container">
    <h1>Middleman webpack <small><%= link_to data.site.version, data.site.repository, target: "_blank" %></small></h1>

    <p>
      <strong>Middleman webpack</strong> is a template for <%= link_to "Middleman 4", "https://middlemanapp.com", target: "_blank" %>.
    </p>

    <p>
      Its main purpose is to automatize the development of static websites by integrating some of the best tools and snippets currently available.
    </p>

    <p>
      At its core, Middleman webpack is based on <strong>Sass</strong>, <strong>yarn</strong>, <strong>webpack</strong> and <strong>Babel</strong> - all tools that will help make your code faster to write and execute, nevertheless extremely flexible and accessible.
    </p>

    <p>
      After an easy setup, you'll
    </p>

    <h2>What's included?</h2>

    <h3>Core</h3>

    <ul>
      <li><%= link_to "Middleman", "https://middlemanapp.com", target: "_blank" %></li>
      <li><%= link_to "Sass", "https://sass-lang.com", target: "_blank" %></li>
      <li><%= link_to "yarn", "https://yarnpkg.com", target: "_blank" %></li>
      <li><%= link_to "webpack", "https://webpack.js.org", target: "_blank" %></li>
      <li><%= link_to "Babel", "https://babeljs.io", target: "_blank" %></li>
    </ul>

    <h3>Middleman extensions</h3>

    <ul>
      <li><%= link_to "Autoprefixer", "https://github.com/middleman/middleman-autoprefixer", target: "_blank" %></li>
      <li><%= link_to "Deploy", "https://github.com/karlfreeman/middleman-deploy", target: "_blank" %></li>
      <li><%= link_to "dotenv", "https://github.com/karlfreeman/middleman-dotenv", target: "_blank" %></li>
      <li><%= link_to "Favicon maker", "https://github.com/follmann/middleman-favicon-maker", target: "_blank" %></li>
      <li><%= link_to "Livereload", "https://github.com/middleman/middleman-livereload", target: "_blank" %></li>
      <li><%= link_to "Meta tags", "https://github.com/gabrielecanepa/middleman-meta-tags", target: "_blank" %></li>
      <li><%= link_to "Minify HTML", "https://github.com/middleman/middleman-minify-html", target: "_blank" %></li>
      <li><%= link_to "Pry", "https://github.com/AndrewKvalheim/middleman-pry", target: "_blank" %></li>
      <li><%= link_to "Robots", "https://github.com/yterajima/middleman-robots", target: "_blank" %></li>
    </ul>

    <h3>Development</h3>

    <ul>
      <li></li>
    </ul>

    <pre class="command-line" data-label="show-bash">
      <code class="language-bash">
        middleman init [repo_name] -T gabrielecanepa/middleman-webpack
      </code>
    </pre>

    <pre data-label="show-javascript">
      <code class="language-javascript">
        import "./components/prism";
        import "./components/tippy";
        import browserType from "./components/typed";
      </code>
    </pre>

    <% ["bash", "CSS", "ERB", "Ruby", "JavaScript", "JSON", "YAML"].each do |language| %>
      <template id="show-<%= language.downcase %>">
        <button>
          <%= language %> <i class="icomoon-<%= language.downcase %>"></i>
        </button>
      </template>
    <% end %>
  </div>
</main>

